@import "src/styles/Variables";

.navigation-container {
  .navigation-inner-content {
    max-width: $content-max-width;
    height: 42px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 18px;
    font-weight: 700;

    .back-navigation {
      cursor: pointer;
    }

    .logout-button {
      background: $button-color;
      border: none;
      padding: 4px 20px;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
